{% macro include_css() -%}
<link rel="stylesheet" type="text/css" href="/static/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/plugins/animatecss/css/animate.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
{%- endmacro %}

{% macro include_js() -%}
<script src="/static/plugins/jquery/jquery-3.2.0.min.js"></script>
<script src="/static/plugins/popper/popper.js"></script>
<script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/script.js"></script>
{%- endmacro %}